
.info_box {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #33B0FF;
}

.big_headers {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}
.info_box div {
    margin-left: 50px;
    margin-right: 50px;
}
.headers {
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}
.main_body {
    min-height: 100vh;
    background-color: #A2D8FA;
    padding-top: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.text_fields {
    background-color: #33B0FF;
    border: 2px solid #1449FF;
    padding: 20px;
    height: 25px;
    width: 300px;
    border-radius: 10px;
    margin: 5px;
}

.add_card {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.logo {
    padding: 5px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion {
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.submit {
    display: flex;
    justify-content: center;
}