.info_box {
    width: 900px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #33B0FF;
}
.big_headers {
    font-size: x-large;
    text-align: center;
}
.info_box div {
    margin-left: 50px;
    margin-right: 50px;
}
.headers {
    color: white;
}
.main_body {
    background-color: #A2D8FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.text_fields {
    background-color: #33B0FF;
    border: 5px solid #1449FF;
    padding: 20px;
    height: 25px;
    width: 300px;
    border-radius: 10px;
}
.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}