.main_body {
    display: flex;
    background-color: #A2D8FA;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    color: #1449ff;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}


.users {
    display: flex;
    background-color: #33b0ff;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
}