.main_body {
    background-color: #A2D8FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}

.title {
    position: absolute;
    top: 70px;
    left: 70px;
    font-size: xx-large;
    font-weight: bold;
    font-family: var(--font-inter);
}

.selectors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 40px;
    width: 700px;
    height: 500px;
}

.box {
    background-color: #33B0FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
}

.headers {
    text-wrap: nowrap;
    font-size: x-large;
}

.showtimes {
    overflow-y: auto;
    max-height: 70vh;
}

.list {
    padding: 10px;
    font-size: x-large;
}

.list_item {
    background-color: #1449ff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}

.list_item:hover {
    background-color: #1140e0;
}

.list div {
    display: flex;
}

.list div input {
    margin-left: 10px;
    background-color: #33B0FF;
    border: 2px solid #1449FF;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 40px;
    text-align: center;
}

.price {
    margin-left: 4px;
}

.btn1 {
    bottom:70px;
    right:70px;
    position: absolute;
}
.btn2 {
    bottom:70px;
    left:70px;
    position: absolute;
}
.link {
    color: #1449ff;
}

.link:hover {
    color: #1140e0;
}