.main_body {
    width: 700px;
    height: 500px;
    text-align: center;
    background-color: #a2d8fa;
    display: flex;
}

.trailer_name {
    text-align: center;
    height: 100%;
    width: 60%;
    padding-top: 10%;
}

.showtimes_book {
    width: 40%;
    padding-top: 10%;
}

.trailer {
    width: 330px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.exit {
    top: 5px;
    left: 10px;
    position: absolute;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
    background-color: #1449ff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.header {
    font-size: xx-large;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}

#trailer_border {
    border-radius: 10px;
    background-color: #1449ff;
    margin: 10px;
}

#name {
    margin-bottom: 40px;
}

.list {
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}

.showtimes {
    background-color: rgb(32, 178, 252);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.button {
    padding-left: 9%;
    margin-bottom: 20%;
    bottom: 0;
    position: absolute;
}