.dialog {
    background-color: transparent;
}

.main_body {
    width: 140vh;
    height: 120vh;
    text-align: center;
    background-color: #2c2d2d;
    display: flex;
    border-radius: 30px;
    border: 5px solid #1449ff;
}

#rating {
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #33B0FF;
    padding: 10px 20px;
    width: 140px;
    font-size: 2vh;
}

.trailer_name {
    text-align: center;
    height: 100%;
    width: 60%;
    padding-top: 10%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}

.showtimes_book {
    width: 40%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

.trailer {
    width: 330px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.exit {
    top: 5px;
    left: 10px;
    position: absolute;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
    background-color: #1449ff;
    margin-top: 1.5%;
    margin-left: 1.5%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}

.header {
    font-size: xxx-large;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}

#trailer_border {
    border-radius: 10px;
    background-color: #33B0FF;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
}

#synopsis {
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #33B0FF;
    padding: 10px 20px;
    width: 710px;
    font-size: 130%;
}

#director_producer {
    font-size: larger;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
    background-color: #33B0FF;
    border-radius: 10px;
    margin-top: 5vh;
    margin-bottom: 2vh;
    height: auto;
    padding-top: 12px;
    padding-bottom: 5px;
}

#reviews {
    font-size: larger;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
    background-color: #33B0FF;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border-radius: 10px;
    height: 30vh; /* Set a fixed height for the box */
    overflow-y: auto; /* Enable vertical scrolling */
}

#reviews h2 {
    font-size: 32px; /* Adjust the font size as needed */
    color: black; /* Set the text color to black */
    font-weight: bold; /* Optional: Make the text bold */
    margin-bottom: 5px; /* Optional: Add spacing below the heading */
}

#name {
    margin-bottom: 20px;
    text-align: center;
}

.list {
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}

.showtimes {
    background-color: #33B0FF;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 12px;
    min-height: 40vh;
    overflow-y: auto;
}

.showtime {
    border: 2px solid #1449ff;
    border-radius: 10px;
    margin-top: 5px;
    font-size: larger;
}


.button {
    background-color: #33B0FF;
    border-radius: 10px;
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    font-size: 60px;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
    border: 5px solid #000c33;
}

.review_popup {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
  
.review_textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.rating_section {
    margin-bottom: 10px;
}
  
.popup_buttons {
    display: flex;
    justify-content: space-between;
}