.main_body {
    display: flex;
    text-align: center;
    background-color: #1449FF;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-width: 40%;
}

.main_body:hover {
    background-color: #1140e0;
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie_banner {
    width: 140px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2px;
    padding-bottom: 10px;
}
.headers {
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}

.left {
    min-width: 60%;
}

.show_times {
    margin-top: 10px;
    padding: 10px;
    background-color: #a2d8fa; /* Optional: Light background for better visibility */
    border: 1px solid #ccc; /* Optional: Add a border for better separation */
    border-radius: 4px; /* Optional: Rounded corners */
}
  
.show_times h2 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: black; /* Set the font color to black */
}

.show_times p {
    margin: 5px 0;
    font-size: 14px;
    color: black; /* Set the font color to black */
}