.main_body {
    display: flex;
    background-color: #33B0FF;
    flex-direction: column;
    height: 100vh;
}

.search_box {
    color: #33B0FF;
    margin: 5px;
}

.search_section {
    height: 70px;
    background-color: #A2D8FA;
    width: 210px;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
}

.filter_section {
    height: 40px;
    margin: 2px;
}

.movie_section {
    flex: 100%;
}

.button {
    background-color: #1449ff;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}