.main_body {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;  
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}

.clicked {
    background-color: #0d2c92;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}

.not_clicked {
    background-color: #1449ff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}