.webUserTopBar {
    background-color: #14a4ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 15px;

}

.buttons {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 30px;
    margin-right: 15px;
}

.editButton {
    margin-left: auto;
    margin-right: 15px;
}