.main_body {
    display: flex;
    background-color: #A2D8FA;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
}
.order_buttons {
    margin-left: 180px;
    margin-right: 80px;
}

/* Dialog styling */
.dialog {
    background-color: transparent;
}

/* Modal body styling */
.modal_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 50vh;
    padding: 10px;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
    text-align: center;
    background-color: #a2d8fa;
    border-radius: 30px;
    border: 5px solid #1449ff;
}

.filter_section {
    margin: 20px 0; /* Add spacing between filter and grid sections */
    display: flex; /* Use flexbox for horizontal alignment */
    flex-wrap: nowrap; /* Prevent buttons from wrapping to the next line */
    gap: 10px; /* Add spacing between buttons */
    align-items: center; /* Align buttons vertically in the center */
    justify-content: center; /* Align buttons to the left */
}

.modal_button {
    width: 20px;
    margin-bottom: 20px;
}
.summary {
    background-color: #33B0FF;
    margin-bottom: 100px;
    border-radius: 12px;
    padding: 40px;
    font-size: x-large;
    min-width: 400px;
}
.button_area {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.summary h1 {
    text-align: center;
    margin-bottom: 10px;
}
.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 240px;
    margin-left: 80px;
    min-width: 500px;
    min-height: 600px;
    background-color: #33B0FF;
    border-radius: 10px;
    padding: 20px;
}
.reciept {
    border: 1px solid #1449FF;
    border-radius: 10px;
    height: 180px;
    font-size: x-large;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
#saved_card {
    width: 200px;
    margin-top: 40px;
    margin-left: 10%;
}
#payment_title {
    text-align: center;
    font-size: xx-large;
}
.payment {
    height: 220px;
    font-size: large;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.payment button {
    width: 200px;
    margin-top: 14px;
}
.promotions {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#promotion_code {
    display: flex;
    margin-bottom: 20px;
}
#promotion_code h2 {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}
.billing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.text_fields {
    background-color: #33B0FF;
    border: 1px solid #1449FF;
    border-radius: 10px;
    margin-top: 6px;
}
.ticket_area {
    background-color: #33B0FF;
    margin-bottom: 50px;
    border-radius: 12px;
    padding: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    max-height: 50vh; /* Limit the height of the grid */
    overflow-y: auto; /* Enable vertical scrolling */
}
.ticket_area h1 {
    font-size: x-large;
    text-align: center;
    margin-bottom: 30px;
}